# Arrival / Delays per Station

In [1]:
# Import statements
import pandas as pd

# Import departure/arrival times dataset from sbb
# Day of operation;Journey identifier;Operator ID;Operator abbreviation;Operator name;Product ID;Linie;Line Text;Rotation ID;Transport ID;Additional run TF;Cancelled TF;OPUIC;Stop name;Arrival time;Arrival forecast;Arrival forecast status;Departure time;Departure forecast;Departure forecast status;Non-stopping pass TF;Arrival delay;Departure delay;Geopos;lod
interested_columns = {
    "Day of operation": "day_of_operation",
    "Product ID": "product_id",
    "Linie": "line",
    "Line Text": "line_text",
    "Stop name": "stop_name",
    "Arrival time": "arrival_time",
    "Arrival forecast": "arrival_forecast",
    "Arrival forecast status": "arrival_forecast_status",
    "Arrival delay": "arrival_delay",
    "Departure time": "departure_time",
    "Departure forecast": "departure_forecast",
    "Departure forecast status": "departure_forecast_status",
    "Departure delay": "departure_delay",
    "Geopos": "geopos"
}
df = pd.read_csv("./data/sbb_departure_arrival_times.csv", sep=";", usecols=interested_columns.keys())
# Rename columns
df = df.rename(columns=interested_columns)
print("Number of Stations: ", len(df["stop_name"].unique()))
df.head()

Number of Stations:  594

,day_of_operation,product_id,line,line_text,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
0,2025-03-02,Zug,2364,IR35,Olten,2025-03-02T11:28:00,2025-03-02T11:27:33,REAL,2025-03-02T11:36:00,2025-03-02T11:36:38,REAL,False,False,"47.35193475927179, 7.9076996479129"
1,2025-03-02,Zug,2364,IR35,Bern,2025-03-02T12:21:00,2025-03-02T12:21:02,REAL,NaN,NaN,NaN,False,False,"46.94883229049847, 7.439130889923934"
2,2025-03-02,Zug,2366,IR35,Thalwil,2025-03-02T11:38:00,2025-03-02T11:39:53,REAL,2025-03-02T11:39:00,2025-03-02T11:40:36,REAL,False,False,"47.29598140717822, 8.564769449072962"
3,2025-03-02,Zug,2369,IR35,Bern,NaN,NaN,NaN,2025-03-02T11:36:00,2025-03-02T11:36:34,REAL,False,False,"46.94883229049847, 7.439130889923934"
4,2025-03-02,Zug,2369,IR35,Burgdorf,2025-03-02T11:49:00,2025-03-02T11:49:31,REAL,2025-03-02T11:51:00,2025-03-02T11:51:38,REAL,False,False,"47.060700726390664, 7.621694473552611"

In [28]:
# Arrival forecast: without any rounding. NB: A transport company has possibly already carried out rounding itself, which is why the seconds are not possibly available.
# Arrival forecast status: Type of confirmation for the actual arrival time. Forecast: value based on projections Estimated: value derived from train control system confirmation
df_arrival_delays = df[df["arrival_delay"] == True]
df_arrival_delays.head()

,day_of_operation,product_id,line,line_text,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
26,2025-03-02,Zug,2380,IR35,Landquart,2025-03-02T17:20:00,2025-03-02T17:23:55,REAL,2025-03-02T17:20:00,2025-03-02T17:25:44,REAL,True,True,"46.96744042835521, 9.554044692079533"
174,2025-03-02,Zug,24174,R1,Villette VD,2025-03-02T20:55:00,2025-03-02T21:06:03,REAL,2025-03-02T20:55:00,2025-03-02T21:06:22,REAL,True,True,"46.49542481880895, 6.707377298812546"
175,2025-03-02,Zug,24174,R1,Lutry,2025-03-02T20:58:00,2025-03-02T21:08:04,REAL,2025-03-02T20:58:00,2025-03-02T21:08:16,REAL,True,True,"46.50378676835819, 6.690609436558635"
176,2025-03-02,Zug,24174,R1,Bussigny,2025-03-02T21:18:00,2025-03-02T21:22:56,REAL,2025-03-02T21:18:00,2025-03-02T21:23:12,REAL,True,True,"46.547590367464494, 6.551826149226752"
206,2025-03-02,Zug,24313,R3,Montreux,2025-03-02T06:40:00,2025-03-02T06:43:03,REAL,2025-03-02T06:41:00,2025-03-02T06:43:18,REAL,True,False,"46.435884341120214, 6.910440121305958"

In [31]:
df_station_bern = df[df["stop_name"] == "Bern"]
df_station_bern.head()

,day_of_operation,product_id,line,line_text,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
1,2025-03-02,Zug,2364,IR35,Bern,2025-03-02T12:21:00,2025-03-02T12:21:02,REAL,NaN,NaN,NaN,False,False,"46.94883229049847, 7.439130889923934"
3,2025-03-02,Zug,2369,IR35,Bern,NaN,NaN,NaN,2025-03-02T11:36:00,2025-03-02T11:36:34,REAL,False,False,"46.94883229049847, 7.439130889923934"
25,2025-03-02,Zug,2378,IR35,Bern,2025-03-02T19:21:00,2025-03-02T19:21:47,REAL,NaN,NaN,NaN,False,False,"46.94883229049847, 7.439130889923934"
327,2025-03-02,Zug,703,IC1,Bern,NaN,NaN,NaN,2025-03-02T05:29:00,2025-03-02T05:29:40,REAL,False,False,"46.94883229049847, 7.439130889923934"
333,2025-03-02,Zug,70618,IC6,Bern,NaN,NaN,NaN,2025-03-02T12:38:00,2025-03-02T12:38:52,REAL,False,False,"46.94883229049847, 7.439130889923934"

In [42]:
# Filter out entries with "NAN" or null values
df_arrival_station_bern = df_station_bern[df_station_bern["arrival_time"].notnull()]
# Sort by arrival time in ascending order
df_arrival_station_bern = df_arrival_station_bern.sort_values(by="arrival_time", ascending = True)
df_arrival_station_bern.head()

,day_of_operation,product_id,line,line_text,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
4658,2025-03-02,Zug,956,IC61,Bern,2025-03-02T05:53:00,2025-03-02T05:51:35,REAL,2025-03-02T06:04:00,2025-03-02T06:04:52,REAL,False,False,"46.94883229049847, 7.439130889923934"
43334,2025-03-02,Zug,2505,IR15,Bern,2025-03-02T05:56:00,2025-03-02T05:56:00,REAL,2025-03-02T06:00:00,2025-03-02T06:00:52,REAL,False,False,"46.94883229049847, 7.439130889923934"
3078,2025-03-02,Zug,2352,IR35,Bern,2025-03-02T06:21:00,2025-03-02T06:21:01,REAL,NaN,NaN,NaN,False,False,"46.94883229049847, 7.439130889923934"
5484,2025-03-02,Zug,606,IC6,Bern,2025-03-02T06:25:00,2025-03-02T06:24:10,REAL,2025-03-02T06:38:00,2025-03-02T06:38:38,REAL,False,False,"46.94883229049847, 7.439130889923934"
46181,2025-03-02,Zug,607,IC61,Bern,2025-03-02T06:26:00,2025-03-02T06:25:04,REAL,2025-03-02T06:34:00,2025-03-02T06:34:35,REAL,False,False,"46.94883229049847, 7.439130889923934"

# Stations and Lines

In [3]:
df = pd.read_csv("./data/sbb_station_to_lines.csv", sep=";")
print("Total number of available stations: ", len(df["Station abbreviation"].unique()))
print("Total number of lines: ", len(df["Line"].unique()))
df.head()

Total number of available stations:  1351
Total number of lines:  321

,Station abbreviation,Stop name,Line,KM,Line.1,Geopos,Didok number,OPUIC,Stop name.1,lod,sloid
0,AA,Aarau,650,41.50577,Killwangen West - Lenzburg - Daniken Ost,"47.39135951416977, 8.051273718700699",2113,8502113,Aarau,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:2113
1,ABO,Aarburg-Oftringen,500,43.00505,Basel SBB - Olten - Luzern,"47.320268469495055, 7.908222606719322",2000,8502000,Aarburg-Oftringen,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:2000
2,ABOS,Aarburg-Oftringen,500,44.00000,Basel SBB - Olten - Luzern,"47.3135510987169, 7.91691898963791",2013,8502013,Aarburg-Oftringen Süd (Abzw),http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:2013
3,ABOW,Aarburg-Oftringen,452,0.00000,Rothrist - Zofingen (Kriegsschlaufe),"47.3136469221806, 7.906871810514809",8141,8508141,Aarburg-Oftringen West (Abzw),http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:8141
4,AD,Aadorf,850,122.89829,St.Gallen - Winterthur Nord,"47.48811815646303, 8.903301351691383",6013,8506013,Aadorf,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:6013

# Insights
- There are around 594 stations in a daily export (there are more total stations though). Not every station gets visited in each day.
- There is a total number of 1351 stations in total
- There is a total of 321 lines
- We only now that a delay happened but we do not now how big the delay was
- We have some cases where we have an arrival time but may not have a departure time and vice versa