# SBB Data

## Departure / Arrival Time

In [2]:
# Import statements
import pandas as pd

# Import departure/arrival times dataset from sbb
# Day of operation;Journey identifier;Operator ID;Operator abbreviation;Operator name;Product ID;Linie;Line Text;Rotation ID;Transport ID;Additional run TF;Cancelled TF;OPUIC;Stop name;Arrival time;Arrival forecast;Arrival forecast status;Departure time;Departure forecast;Departure forecast status;Non-stopping pass TF;Arrival delay;Departure delay;Geopos;lod
interested_columns = {
    "Day of operation": "day_of_operation",
    "Product ID": "product_id",
    "OPUIC": "opuic",
    "Linie": "line",
    "Line Text": "line_text",
    "Stop name": "stop_name",
    "Arrival time": "arrival_time",
    "Arrival forecast": "arrival_forecast",
    "Arrival forecast status": "arrival_forecast_status",
    "Arrival delay": "arrival_delay",
    "Departure time": "departure_time",
    "Departure forecast": "departure_forecast",
    "Departure forecast status": "departure_forecast_status",
    "Departure delay": "departure_delay",
    "Geopos": "geopos"
}
df = pd.read_csv("./data/sbb_departure_arrival_times.csv", sep=";", usecols=interested_columns.keys())
# Rename columns
df = df.rename(columns=interested_columns)
df.head()

,day_of_operation,product_id,line,line_text,opuic,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
0,2025-03-02,Zug,2364,IR35,8500218,Olten,2025-03-02T11:28:00,2025-03-02T11:27:33,REAL,2025-03-02T11:36:00,2025-03-02T11:36:38,REAL,False,False,"47.35193475927179, 7.9076996479129"
1,2025-03-02,Zug,2364,IR35,8507000,Bern,2025-03-02T12:21:00,2025-03-02T12:21:02,REAL,NaN,NaN,NaN,False,False,"46.94883229049847, 7.439130889923934"
2,2025-03-02,Zug,2366,IR35,8503202,Thalwil,2025-03-02T11:38:00,2025-03-02T11:39:53,REAL,2025-03-02T11:39:00,2025-03-02T11:40:36,REAL,False,False,"47.29598140717822, 8.564769449072962"
3,2025-03-02,Zug,2369,IR35,8507000,Bern,NaN,NaN,NaN,2025-03-02T11:36:00,2025-03-02T11:36:34,REAL,False,False,"46.94883229049847, 7.439130889923934"
4,2025-03-02,Zug,2369,IR35,8508005,Burgdorf,2025-03-02T11:49:00,2025-03-02T11:49:31,REAL,2025-03-02T11:51:00,2025-03-02T11:51:38,REAL,False,False,"47.060700726390664, 7.621694473552611"

In [3]:
# Arrival forecast: without any rounding. NB: A transport company has possibly already carried out rounding itself, which is why the seconds are not possibly available.
# Arrival forecast status: Type of confirmation for the actual arrival time. Forecast: value based on projections Estimated: value derived from train control system confirmation
df_sample = df[df["line"] == 715]
df_sample.head()

,day_of_operation,product_id,line,line_text,opuic,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
393,2025-03-02,Zug,715,IC1,8501026,Genève-Aéroport,NaN,NaN,NaN,2025-03-02T09:22:00,2025-03-02T09:22:37,REAL,False,False,"46.23253853438607, 6.111985572600153"
397,2025-03-02,Zug,715,IC1,8506209,Flawil,2025-03-02T13:39:00,2025-03-02T13:40:31,REAL,2025-03-02T13:39:00,2025-03-02T13:41:24,REAL,False,False,"47.41518938373985, 9.189785591411313"
6162,2025-03-02,Zug,715,IC1,8501120,Lausanne,2025-03-02T10:14:00,2025-03-02T10:13:26,REAL,2025-03-02T10:17:00,2025-03-02T10:17:43,REAL,False,False,"46.51679183546505, 6.629092303198572"
6164,2025-03-02,Zug,715,IC1,8506206,Wil SG,2025-03-02T13:25:00,2025-03-02T13:25:26,REAL,2025-03-02T13:26:00,2025-03-02T13:27:46,REAL,False,False,"47.462413242743715, 9.040993050468307"
7631,2025-03-02,Zug,715,IC1,8504100,Fribourg/Freiburg,2025-03-02T11:02:00,2025-03-02T10:59:59,REAL,2025-03-02T11:03:00,2025-03-02T11:03:32,REAL,False,False,"46.80314817217614, 7.151046883336622"

In [16]:
# Filter out entries with "NAN" or null values
df_sample = df_sample[df_sample["arrival_time"].notnull()]
# Sort by arrival time in ascending order
df_sample = df_sample.sort_values(by="arrival_time", ascending = True)
df_sample.head()

,day_of_operation,product_id,line,line_text,opuic,stop_name,arrival_time,arrival_forecast,arrival_forecast_status,departure_time,departure_forecast,departure_forecast_status,arrival_delay,departure_delay,geopos
62929,2025-03-02,Zug,13811,SN1,8500218,Olten,2025-03-02T02:25:00,NaN,UNBEKANNT,NaN,NaN,UNBEKANNT,False,False,"47.35193475927179, 7.9076996479129"
18224,2025-03-02,Zug,13702,SN11,8500218,Olten,2025-03-02T02:27:00,2025-03-02T02:28:02,REAL,NaN,NaN,NaN,False,False,"47.35193475927179, 7.9076996479129"
62932,2025-03-02,Zug,13813,SN1,8500218,Olten,2025-03-02T03:25:00,NaN,UNBEKANNT,NaN,NaN,UNBEKANNT,False,False,"47.35193475927179, 7.9076996479129"
6317,2025-03-02,Zug,13704,SN11,8500218,Olten,2025-03-02T03:27:00,2025-03-02T03:26:55,REAL,NaN,NaN,NaN,False,False,"47.35193475927179, 7.9076996479129"
7537,2025-03-02,Zug,17015,S3,8500218,Olten,2025-03-02T04:21:00,NaN,UNBEKANNT,NaN,NaN,UNBEKANNT,False,False,"47.35193475927179, 7.9076996479129"

# Stations

In [44]:
df = pd.read_csv("./data/sbb_stations.csv", sep=";")
print("Total number of available stations: ", len(df["Station abbreviation"].unique()))
df.head()

Total number of available stations:  1355

,Station abbreviation,Stop name,Line,KM,Line.1,Geopos,Didok number,OPUIC,Stop name.1,lod,sloid
0,ABO,Aarburg-Oftringen,451,43.00505,Aarburg-Oftringen - Rothrist Gleis 1,"47.320268469495055, 7.908222606719322",2000,8502000,Aarburg-Oftringen,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:2000
1,AHAU,Altishausen,831,29.09142,Weinfelden - Tagermoos,"47.59648829967649, 9.16237708933304",6199,8506199,Altishausen,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:6199
2,ALG,Algetshausen-Henau,850,103.23323,St.Gallen - Winterthur Nord,"47.44854834568097, 9.109942187774752",6220,8506220,Algetshausen-Henau,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:6220
3,ALME,Al Motto (c bin),606,160.92853,Al Sasso - Al Motto (binario sinistro),"46.14399680106596, 8.949151861285673",15373,8515373,Al Motto Est,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:15373
4,ALT,Altstatten SG,880,41.17789,Sargans Ost - St.Gallen,"47.374234807062635, 9.556519883564428",6319,8506319,Altstätten SG,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:6319

In [45]:
df_sample = df[df["OPUIC"] == 8500218]
df_sample.head()

,Station abbreviation,Stop name,Line,KM,Line.1,Geopos,Didok number,OPUIC,Stop name.1,lod,sloid
216,OL,Olten,410,39.29156,Olten - Solothurn - Biel/Bienne,"47.35193475927179, 7.9076996479129",218,8500218,Olten,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:218
217,OL,Olten,503,39.29156,Sissach - Laufelfingen - Olten,"47.35193475927179, 7.9076996479129",218,8500218,Olten,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:218
218,OL,Olten,540,39.30213,Olten - Woschnau,"47.35193475927179, 7.9076996479129",218,8500218,Olten,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:218
995,OL,Olten,500,39.29245,Basel SBB - Olten - Luzern,"47.35193475927179, 7.9076996479129",218,8500218,Olten,http://lod.opentransportdata.swiss/didok/didok85,ch:1:sloid:218

# Lines

In [26]:
df = pd.read_csv("./data/sbb_lines.csv", sep=";")
print("Total number of lines: ", len(df["Line"].unique()))
df.head()

Total number of lines:  430

,Line,Line.1,START OPK,END OPK,KM START,KM END,Content-Type: text/plain; charset=utf-8\n,Content-Type: text/plain; charset=utf-8\n.1,Content-Type: text/plain; charset=utf-8\n.2,geo_point_2d
0,9794,W'thur West Unterquerung - W'thur Toss,Winterthur West Unterquerung,Winterthur Toss,51.033,51.718,0,1000000,"{""coordinates"": [[8.71716739222, 47.4921217692...","47.49096407665, 8.71323866783"
1,9793,W'thur Eichliacker - W'thur Wylandbrucke,Winterthur Eichliacker (Vzw),Winterthur Wylandbrucke (Vzw),54.583,55.495,0,1000000,"{""coordinates"": [[8.71370075634, 47.4881074605...","47.49168742715, 8.71664715118"
2,9792,Tossmuhle Steigbach-W'thur Eichliacker,Tossmuhle Steigbach (Vzw),Winterthur Eichliacker (Vzw),53.415,54.583,0,1000000,"{""coordinates"": [[8.70653172432, 47.4788163018...","47.48346188115, 8.710116240329999"
3,9791,Wallisellen Furt - Dietlikon Sud-West,Wallisellen Furt (Vzw),Dietlikon Sud-West (Abzw),9.575,10.826,0,1000000,"{""coordinates"": [[8.60725918287, 47.4108311022...","47.4145535463, 8.61283613413"
4,9790,Wallisellen Herti - Wallisellen Belair,Zurich Aubrugg (Vzw),Wallisellen Belair (Vzw),6.841,7.800,0,1000000,"{""coordinates"": [[8.57180041381, 47.4131270279...","47.41324085755, 8.578143370665"

In [27]:
df_sample = df[df["Line"] == 500]
df_sample.head()

,Line,Line.1,START OPK,END OPK,KM START,KM END,Content-Type: text/plain; charset=utf-8\n,Content-Type: text/plain; charset=utf-8\n.1,Content-Type: text/plain; charset=utf-8\n.2,geo_point_2d
254,500,Basel SBB - Olten - Luzern,Basel SBB,Luzern,0.0,95.093,0,1000000,"{""coordinates"": [[7.58956279016, 47.5474120551...","47.29879494159999, 7.949872998549999"

# Insights
- There are around 594 stations in a daily export (there are more total stations though). Not every station gets visited in each day.
- There is a total number of 1351 stations in total
- There is a total of 430 lines
- We only know that a delay happened but we do not know how big the delay was
- You cannot reliable match a station in the delay dataset to a given line 
- We have some cases where we have an arrival time but may not have a departure time and vice versa

# Dataset from OpenData

## Departure / Arrival Time

In [34]:
interested_columns = {
    "BETRIEBSTAG": "day_of_operation",
    "BETREIBER_ABK": "operator_id",
    "BETREIBER_NAME": "operator_name",
    "LINIEN_ID": "line_id",
    "LINIEN_TEXT": "line_text",
    "VERKEHRSMITTEL_TEXT": "transport_text",
    "BPUIC": "station_id",
    "HALTESTELLEN_NAME": "station_name",
    "ANKUNFTSZEIT": "arrival_time",
    "AN_PROGNOSE": "arrival_forecast",
    "AN_PROGNOSE_STATUS": "arrival_forecast_state",
    "ABFAHRTSZEIT": "departure_time",
    "AB_PROGNOSE": "departure_forecast",
    "AB_PROGNOSE_STATUS": "departure_forecast_state"
}

df = pd.read_csv("./data/open_data_departure_arrival_times.csv", sep=",", low_memory=False, usecols=interested_columns.keys())
# Rename columns
df = df.rename(columns=interested_columns)
df.head()

,day_of_operation,operator_id,operator_name,line_id,line_text,transport_text,station_id,station_name,arrival_time,arrival_forecast,arrival_forecast_state,departure_time,departure_forecast,departure_forecast_state
0,16.03.2025,DB,DB Regio AG Baden-Württemberg,17238,RB,RB,8500090,Basel Bad Bf,16.03.2025 07:05,16.03.2025 07:04:00,PROGNOSE,NaN,NaN,NaN
1,16.03.2025,DB,DB Regio AG Baden-Württemberg,17239,RB,RB,8500090,Basel Bad Bf,NaN,NaN,NaN,16.03.2025 07:53,16.03.2025 07:54:00,PROGNOSE
2,16.03.2025,DB,DB Regio AG Baden-Württemberg,17241,RB,RB,8500090,Basel Bad Bf,NaN,NaN,NaN,16.03.2025 08:53,16.03.2025 08:53:00,PROGNOSE
3,16.03.2025,DB,DB Regio AG Baden-Württemberg,17243,RB,RB,8500090,Basel Bad Bf,NaN,NaN,NaN,16.03.2025 09:53,16.03.2025 09:54:00,PROGNOSE
4,16.03.2025,DB,DB Regio AG Baden-Württemberg,17244,RB,RB,8500090,Basel Bad Bf,16.03.2025 08:08,16.03.2025 08:08:00,PROGNOSE,NaN,NaN,NaN

In [35]:
df_sample = df[df["operator_id"] == "SBB"]
df_sample.head()

,day_of_operation,operator_id,operator_name,line_id,line_text,transport_text,station_id,station_name,arrival_time,arrival_forecast,arrival_forecast_state,departure_time,departure_forecast,departure_forecast_state
144,16.03.2025,SBB,SBB GmbH,87875,S6,S,8500090,Basel Bad Bf,16.03.2025 01:19,NaN,UNBEKANNT,NaN,NaN,UNBEKANNT
530,16.03.2025,SBB,Schweizerische Bundesbahnen SBB,10,EC,EC,8505307,Chiasso,16.03.2025 07:58,16.03.2025 07:59:13,REAL,16.03.2025 08:05,16.03.2025 08:05:39,REAL
531,16.03.2025,SBB,Schweizerische Bundesbahnen SBB,10,EC,EC,8505300,Lugano,16.03.2025 08:28,16.03.2025 08:28:10,REAL,16.03.2025 08:30,16.03.2025 08:30:44,REAL
532,16.03.2025,SBB,Schweizerische Bundesbahnen SBB,10,EC,EC,8505213,Bellinzona,16.03.2025 08:46,16.03.2025 08:44:16,REAL,16.03.2025 08:47,16.03.2025 08:47:49,REAL
533,16.03.2025,SBB,Schweizerische Bundesbahnen SBB,10,EC,EC,8505004,Arth-Goldau,16.03.2025 09:42,16.03.2025 09:42:34,REAL,16.03.2025 09:45,16.03.2025 09:45:52,REAL

## Stations

In [39]:
df = pd.read_csv("./data/open_data_stations.csv", sep=";", low_memory = False)
df.head()

,numberShort,uicCountryCode,sloid,number,checkDigit,validFrom,validTo,designationOfficial,designationLong,abbreviation,...,businessOrganisationDescriptionEn,fotComment,lv95East,lv95North,wgs84East,wgs84North,height,creationDate,editionDate,status
0,22001,13,ch:1:sloid:1322001,1322001,2,2020-09-01,9999-12-31,Antronapiana,NaN,NaN,...,Autoservizi Comazzi S.R.L.,NaN,2652235.0,1101179.0,8.113620,46.060120,0.0,2017-11-09 11:53:05,2024-04-08 09:26:05,VALIDATED
1,22002,13,ch:1:sloid:1322002,1322002,0,2023-02-23,9999-12-31,Anzola d'Ossola,NaN,NaN,...,Autoservizi Comazzi S.R.L.,NaN,2670286.0,1093551.0,8.345715,45.989869,0.0,2017-11-09 11:53:05,2024-04-08 09:26:05,VALIDATED
2,22003,13,ch:1:sloid:1322003,1322003,8,2020-09-01,9999-12-31,Baceno,NaN,NaN,...,Autoservizi Comazzi S.R.L.,NaN,2667897.0,1123722.0,8.319256,46.261501,0.0,2017-11-09 11:53:05,2024-04-08 09:26:05,VALIDATED
3,22012,13,ch:1:sloid:1322012,1322012,9,2020-09-01,9999-12-31,Castiglione,NaN,NaN,...,Autoservizi Comazzi S.R.L.,NaN,2660115.0,1096857.0,8.214886,46.020588,0.0,2017-11-09 11:53:05,2024-04-08 09:26:05,VALIDATED
4,22013,13,ch:1:sloid:1322013,1322013,7,2020-09-01,9999-12-31,Ceppo Morelli,NaN,NaN,...,Autoservizi Comazzi S.R.L.,NaN,2648933.0,1091248.0,8.069922,45.971036,0.0,2017-11-09 11:53:05,2024-04-08 09:26:05,VALIDATED